<div class="uiInventory">
	<div class="heading">
		<div class="heading-text">inventory</div>
	</div>
	<div class="stats">
		<div class="list"></div>
	</div>
	<div class="grid"></div>
	<div class="menu-bar">
		<div class="button btnSortInv">Sort</div>
	</div>
	<div class="split-box">
		<div class="inner">
			<div class="heading">
			    <div class="heading-text">stack size</div>
			</div>
			<div class="bottom">
				<div class="button btnLess">-</div>
				<input type="text" class="textbox amount">
				<div class="button btnMore">+</div>
				<div class="button btnSplit">split</div>
			</div>
		</div>
	</div>
</div>
